<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.hzw.dao.User_roleMapper" >
  <resultMap id="BaseResultMap" type="cn.hzw.pojo.User_role" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="userName" property="username" jdbcType="VARCHAR" />
    <result column="userPassword" property="userpassword" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="isLogin" property="islogin" jdbcType="INTEGER" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, userName, userPassword, email, isLogin,phone
  </sql>
  <select id="selectUser" resultType="User_role">
  	select * from user_role 
  	where userName=#{username} and userPassword=#{userpassword}
  </select>
  <insert id="insertByUser" parameterType="User_role">
  	insert into user_role(userName,userPassword,email,phone) values(#{username},#{userpassword},#{email},#{phone})
  </insert>
  <select id="selectByUserName"  resultType="User_role" >
  	select * from user_role 
  	<trim prefix="where" prefixOverrides="and | or">
  		<if test="username!=null and username!=''">
  			and userName=#{username}
  		</if>
  	</trim>
  </select>
  <select id="findAllUserLimit" resultType="User_role">
  	select * from user_role where id>1 limit  #{currentPage},#{pageSize};
  </select>
  <select id="findAllUser" resultType="int">
  	select count(1) from user_role where id>1;
  </select>
  <select id="findById" resultType="User_role">
  	select * from user_role 
  		where id=#{id}
  </select>
  <update id="updateUser" >
  	update user_role set
  	<trim prefix="" prefixOverrides=",">
  		<if test="username!=null and username!=''">
  			, username=#{username}
  		</if>
  		<if test="userpassword!=null and userpassword!=''">
  			, userpassword=#{userpassword}
  		</if>
  		<if test="email!=null and email!=''">
  			, email=#{email}
  		</if>
  		<if test="phone!=null and phone!=''">
  			, phone=#{phone}
  		</if>
  	</trim>
  		where id=#{id}
  </update>
  <delete id="delUser">
  	delete from user_role where id=#{id}
  </delete>
</mapper>